.markdown-body td>p, .markdown-body td>blockquote, .markdown-body td>ul, .markdown-body td>ol, .markdown-body td>dl, .markdown-body td>table, .markdown-body td>pre, .markdown-body li>p
{
    margin-top: 0px;
    margin-bottom: 0px;
}

header.site-header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0px;
}

.markdown-body .spoiler, .markdown-body .spoiler-title, .markdown-body .spoiler-text {
    overflow: hidden;
    cursor:pointer;
}
.markdown-body .spoiler-title {
    text-decoration: underline;
}
.markdown-body .spoiler-text {
    display: none;
}
