[submodule "Markdown-csl"]
	path = Markdown-csl
	url = https://github.com/philipbelesky/Markdown-Citation-Style-Languages
[submodule "phonexicum.github.io"]
	path = phonexicum.github.io
	url = git@github.com:phonexicum/phonexicum.github.io.git
