<header id="header" class="site-header">
  <div class="header-wrapper">
    <table width="100%"><tr><td width="35%">

      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

      {% if page.title %}
          {% assign result_header_titles = "<div class='parent-title'><a href='" | append: page.url | append: "' style='white-space: nowrap;'>" | append: page.title | append: "</a></div>" %}
      {% endif %}
      {% assign current_category = page.category %}
      <!-- I suppose here that my site will never become the tree deeper then 15 levels -->
      {% for i in (1..15) %}
          {% assign found_root_page = false %}
          {% for ipage in site.pages %}
              {% if ipage.category_root and ipage.title and ipage.category_root == current_category %}

                  {% assign result_header_titles = "<div class='parent-title'><a href='" | append: ipage.url | append: "' style='white-space: nowrap;'>" | append: ipage.title | append: "</a></div>" | append: result_header_titles %}

                  {% assign current_category = ipage.category %}
                  {% assign found_root_page = true %}
                  {% break %}
              {% endif %}
          {% endfor %}
          {% if found_root_page == false %}
              {% break %}
          {% endif %}
      {% endfor %}

      {{ result_header_titles }}
      <br>

      <script>
        (function() {
          var cx = '009029769494916739791:cgvyhqc7-o8';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:search></gcse:search>

    </td>
    <td width="5%"></td>
    <td style="text-align: right; vertical-align: middle;">
    
      <!-- See my parent category -->
      <div class="site-nav">
        <div class="trigger">
          {% for my_page in site.pages %}
            {% if my_page.title and page.see_my_category_in_header and page.category == my_page.category and (!my_page.show_thispage_in_header or my_page.show_thispage_in_header == true) %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}" style="white-space: nowrap;">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- See my child category -->
      <div class="site-nav">
        <div class="trigger">
          {% for my_page in site.pages %}
            {% if my_page.title and page.category_root and page.category_root == my_page.category and (!my_page.show_thispage_in_header or my_page.show_thispage_in_header == true) %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </td></tr></table>
  </div>
</header>
